[Unit]
Description=Récapitulatif Mémo Réunions chaque matin de semaine

[Timer]
OnCalendar=Mon..Fri 08:00
Persistent=true

[Install]
WantedBy=timers.target
